body {
  margin: 0px;
  padding: 49px 45px;
  text-align: center;
}

h1 {
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin: 0px;
}
h2 {
  font-family: Rosario;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #17bebb;
  margin: 0px;
}
#border {
  padding: 49px 45px 0px 45px;
  background: #17bebb;
  border-radius: 10px;
  position: relative;
  top: 208px;
  height: 600px;
}
#book-list {
  background: white;
  border-radius: 10px;
  height: 600px;
}
input {
  width: 197px;
  font-family: Rosario;
  border: 1px solid #17bebb;
  border-radius: 10px;
  margin-bottom: 49px;
  height: 30px;
}
button {
  height: 31px;
  width: 31px;
  font-size: 31px;
  color: #faa916;
  border: none;
  background-color: white;
  padding: 0;
  position: absolute;
  top: 49px;
  right: 45px;
}
button:hover {
  cursor: pointer;
}
@media only screen and (min-width: 376px) {
  body {
    padding: 87px 122px;
    text-align: left;
  }
}
