body {
  margin: 0px;
  padding: 49px 45px;
}
/*was body:before*/
#overlay {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /*or block*/
  z-index: 5;
  background-color: rgba(92, 65, 65, 0.4);
}
h1 {
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  top: 134px;
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0;
}
h2 {
  font-family: Rosario;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #17bebb;
  margin: 0px;
  position: absolute;
  top: 183px;
}
h1 + h2 {
  text-align: center;
  width: 100%;
  left: 0;
}
h3 {
  font-family: Rosario;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: black;
}
#black-h2 {
  color: black;
  position: static;
}
#border {
  padding: 49px 45px;
  background: #17bebb;
  border-radius: 10px;
  position: relative;
  top: 208px;
  height: auto;
}
#book-list {
  background: white;
  border-radius: 10px;
  padding: 20px 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
#search {
  width: 197px;
  font-family: Rosario;
  border: 1px solid #17bebb;
  border-radius: 10px;
  height: 30px;
  position: absolute;
  top: 49px;
  left: 45px;
}
#login-button {
  height: 32px;
  width: 32px;
  font-size: 31px;
  color: #faa916;
  border: none;
  background-color: white;
  padding: 0;
  position: absolute;
  top: 49px;
  right: 45px;
}
#login-button:hover {
  cursor: pointer;
}
img {
  height: 118px;
  width: 80px;
}
p {
  font-family: Rosario;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}
article {
  margin-bottom: 20px;
}
#login-menu {
  width: 300px;
  top: 10vh;
  right: 7px;
  /* display: none; */
  background-color: white;
  position: absolute;
  z-index: 10;
  padding: 8%;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s,
    height 0s linear 0.15s;
  /*new stuff*/
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s,
    height 0s linear 0.15s;
}
#login-menu.visible {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 0.15s ease-out;
  box-sizing: border-box;
}
.modal {
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 45px;
  border-radius: 10px;
}
.form {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: Rosario;
  border-radius: 10px;

  width: 100%;

  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #17bebb;
}
button {
  font-family: "Rosario";
  outline: 0;
  background: #faa916;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
button:hover,
button:active,
button:focus {
  background: #17bebb;
}
.small-button {
  width: 150px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
a {
  color: #17bebb;
  text-decoration: none;
}
a:hover {
  color: #faa916;
  cursor: pointer;
}
.entry {
  display: grid;
  background-color: #ffffff;
  padding: 0 22px;
  margin: 22px 0;
  border-radius: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
.title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.author {
  grid-column: 2/3;
  grid-row: 1/2;
}
.isbn {
  grid-column: 1/2;
  grid-row: 2/3;
}
.copies {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.icons {
  color: #faa916;
  grid-column: 3/4;
  grid-row: 2/3;
}
.add-button {
  position: absolute;
  right: 25%;
}
.log-out {
  height: 32px;
  width: 32px;
  font-size: 31px;
  color: #faa916;
  border: none;
  background-color: white;
  padding: 0;
  position: absolute;
  top: 49px;
  right: 45px;
}
@media only screen and (min-width: 778px) {
  body {
    padding: 87px 122px;
    text-align: left;
  }
  h1 {
    top: 87px;
    left: 122px;
    width: initial;
  }
  h2 {
    top: 123px;
    left: 122px;
  }
  #search {
    top: 87px;
    right: 200px;
    width: 25vw;
    left: initial;
  }
  #login-button {
    top: 87px;
    right: 122px;
  }
  img {
    height: 160px;
    width: 122px;
    margin-right: 11px;
  }
  #book-list {
    padding: 14px 0 14px 22px;
  }
  article {
    height: 170px;
    display: flex;
    flex-direction: row;
    margin-right: 22px;
    margin-bottom: 0px;
  }
  #login-menu {
    top: -600px;
    position: relative;
    margin: auto;
  }
  .entry {
    padding: 0 22px;
    margin: 22px 0;
    border-radius: 10px;
    grid-template-columns: 35% 25% 25% 10% 40px;
    grid-template-rows: none;
  }
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .author {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .isbn {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .copies {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .icons {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .add-button {
    right: 40%;
  }
  .log-out {
    width: 150px;
    position: absolute;
    left: 80%;
  }
  .modal {
    width: 600px;
  }
  h1 + h2 {
    text-align: auto;
    width: auto;
    left: auto;
  }
}
